@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
   list-style: none;
}
:root {
    --text-color: #5A74B7;
    --text-white-color: #FFFFFF;
}
.container{
    width: 100%;
    max-width: 1222px;
    margin: 0 auto;
}
.navbar__flex {
    display: flex;
    align-items: center;
}
.navbar_logo {
    margin-right: 526px;
    padding-top: 28px;
    padding-left: 26px;
}
.navbar__flex-menu {
    display: flex;
    gap: 21px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    margin: 0;
    padding-top: 27px;
}
.navbar__flex-menu a{
    text-decoration: none;
    color: var(--text-color);
}
.navbar__flex-menu li:hover {
    opacity: 0.5;
}
.product__flex_card {
    height: 760px;
    margin-top: 48px;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.product-photo-into {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header_h1 {
    color: var(--text-white-color);
    font-family: 'Oswald', sans-serif;
    font-size: 76px;
    font-weight: 400;
    line-height: 113px;
    letter-spacing: 0%;
    padding-bottom: 57px;
    margin: 0;
    margin-top: -58px;
}
.header_btn {
    width: 151px;
    height: 45px;
    color: var(--text-white-color);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-family: 'Roboto' sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    background: none;
}
.tovar_inner {
    padding: 0px 90px 75px 90px;
}
.tovar_h2 {
    color: var(--text-color);
    font-family: 'Oswald',sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: center;
    margin: 67px 0 0 0;
}
.tovar__text {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    margin: 30px 0 75px 0;
    text-align: center;
}
.tovar__flex_content {
    --gap: 55px;
    --elements: 3;
    
    max-width: 1222px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
}
.tovar__flex_items {
    max-width: 370px;
    max-height: 500px;
    width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
}
.tovar__background {
    background-color: var(--text-color);
    width: 370px;
    height: 200px;
}
.tovar_h3 {
    color: var(--text-white-color);
    font-family: 'Oswald',sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    padding: 58px 0 0 0;
    margin: 0;
}
.tovar__text_items {
    color: var(--text-white-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-top: 12px;
}
.brand {
    width: 100%;
}
.brand_header {
    text-align: center;
}
.brand_h4 {
    color: var(--text-color);
    font-family: 'Oswald',sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 59px;
    margin: 0;
}
.brand_p {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.brand_flex-inf {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.brand_inf-items {
    display: flex;
    width: 455px;
    height: 321px; 
    box-sizing: border-box; 
}
.brand_inf-items:nth-child(1) {
    margin-top: 140px;
    margin-left: 200px;
}
.brand_inf-items:nth-child(2) {
    margin-top: 140px;
}
.brand_inf-items:nth-child(3) {
    margin-left: 200px;
    margin-top: 30px;
    height: 280px;
}
.brand_inf-items:nth-child(4) {
    margin-top: 30px;
}
.brand_inf-img {
    margin-top: 25px;
}
.brand_inf-img:nth-child(3) {
    margin-top: 33px;
}
.brand_inf {
    margin-left: 12px;
}
.brand_h5 {
    color: var(--text-color);
    font-family: 'Oswald',sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin: 0;
}
.brand_inf-text {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: -0.5%;
    width: 300px;
    height: 196px;
    margin-top: 11px;
}
.working-hours {
    width: 87%;
    height: 455px;
    margin: 0 auto;
    margin-top: 114px;
    background-image: url(../img/girlphone\ 1.png);
    background-color: rgba(44, 56, 166, 0.3); /* задаем фоновый цвет (фиолетовый) */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.w-h_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hours_h6 {
    color: var(--text-white-color);
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin: 10px 0 51px 0;
}
.w-h_content_p {
    width: 178px;
    height: 140px;
}
.hours_text {
    color: var(--text-white-color);
    margin: 0;
    padding-bottom: 34px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.hours_text_second {
    width: 142px;
    height: 84px;
    color: var(--text-white-color);
    margin: 0;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 187.5%;
    margin-left: 11px;
}
.contact {
    background-color: var(--text-color);
    margin: 49px 89px 0 89px;
}
.contact_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: 450px;
    padding: 39px 0 0 0;
}
.contact-info {
    color:var(--text-white-color);
    width: 50%;
    text-align: center;
}
.contact_h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 59px;
    margin: 0;
    margin-left: 22px;
}
.contact_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.contact_text1 {
    margin-top: 21px;
    margin-left: 22px;
}
.contact_text2 {
    margin-left: 22px;
    margin-top: 34px;
}
.contact_text3 {
    margin-left: 22px;
    margin-top: 37px;
}
.message-form {
    display: grid;
    gap: 10px;
    width: 541.6px;
    height: 307px;
    margin-left: 20px;
}
.form-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
input[type="text"],[type="email"] {
    width: 100%;
    width: 260px;
    height: 22px;
    background-color: transparent;
}
input:focus{
    outline: none;
}
textarea{
    background-color: transparent;
}
::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color:var(--text-white-color)
}
.full-width {
     grid-column: 1 / span 2;
     grid-template-columns: 1fr;
}
/* .input[type="text"],
.input[type="tel"],
.input[type="email"],
.textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 260px;
    height: 22px;
    background-color: transparent;
} */
input[type="text"]:invalid,
input[type="tel"]:invalid,
input[type="email"]:invalid,
textarea:invalid {
    border: none; 
    border-bottom: 1px solid rgb(255, 255, 255) /* Добавляем нижнее подчеркивание */
} 
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    grid-column: span 2;
    width: 539px;
    height: 45px;
    margin-bottom: -15px;
    padding: 0;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
  opacity: 0.5;
}
.placeholder-on-focus {
    color: #7a5b5b; /* Цвет текста для placeholder */
}
.map_yandex{
    display: flex;
    justify-content: center;
    margin: 0 88px;
}
.company {
    display: flex;
    gap: 24px;
    margin: 78px 0;
    justify-content: center;
}

  @media screen and (min-width: 1401px) and (max-width: 1920px) { 
    .brand_flex-inf{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    .brand_inf-items:nth-child(1){
       margin-left: 0;   
    }
    .brand_inf-items:nth-child(3){
        margin-top: 140px;
        margin-left: 0;   
     }
     .brand_inf-items:nth-child(4){
        margin-top: 140px;
        margin-left: 0;   
     }
     .brand_inf-text:nth-child(3){
        height: 280px;
     }
}
/* @media screen and (max-width: 1600px) {
    .navbar__flex {
        justify-content: space-between;
    }
    .navbar_logo {
        margin-right: 130px;
    }
    .navbar__flex-menu {
        gap: 50px;
        margin: 0 150px 0 0;
    }
} */
@media screen and (max-width: 1399px) {
    .tovar__flex_content {
        --elements: 2;
    }
}
@media screen and (max-width: 1302px) {
    .contact_flex {
        justify-content: center;
        height: 630px;  
    }
    
}
@media screen and (max-width: 1222px) {
    .navbar__flex {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .navbar_logo {
        margin-right: 30px;
    }
    .navbar__flex-menu {
        gap: 30px;
        margin: 0 30px 0 0;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1180px) {
    .brand_p{
        margin-bottom: 40px;
    }
    .brand_inf-items{
        margin: 0;
    }
    .brand_flex-inf{
        justify-content: center;
    }
    .brand_inf-items:nth-child(1){
        margin: 0;       
    }
    .brand_inf-items:nth-child(2) {
        margin: 0;
    }
    .brand_inf-items:nth-child(3) {
        margin: 0;
        height: 330px;
    }
    .brand_inf-items:nth-child(4) {
        margin: 0;
    }
}
@media screen and (max-width: 980px) {
    .tovar__flex_content {
        --elements: 1;
    }
    .message-form {
        margin: 0;
        width: 100%;
    }
}
@media screen and (max-width: 796px) {
    .navbar__flex-menu {
        gap: 30px;
        margin: 0 30px 0 30px;
    }
    .brand_inf-items:nth-child(1){
        margin: 0;
    }
    .brand_inf-items:nth-child(2){
       margin: 0;
    }
    .brand_inf-items:nth-child(3){
       margin: 0;
    }
    .brand_inf-items:nth-child(4){
       margin: 0;
    }
    .contact_h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 200;
        line-height: 39px;
        margin: 0;
        margin-left: 22px;
    }
    .contact_text{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
    }
    .contact_text1 {
        margin-top: 11px;
        margin-left: 12px;
    }
    .contact_text2 {
        margin-left: 22px;
        margin-top: 14px;
    }
    .contact_text3 {
        margin-left: 12px;
        margin-top: 17px;
    }
    input[type="text"],[type="email"] {
        width: 100%;
        width: 160px;
        height: 22px;
    }
    .full-width {
       width: 290px;
   }
}
@media screen and (max-width: 550px) {
    .tovar_inner {
        padding: 27px 30px 35px 30px;
    }
    .tovar_h2 {
        font-size: 30px;
        margin: 17px 0 0 0;
    }
    .tovar__text {
        margin: 10px 0 30px 0;
    }
    .tovar__flex_content {
        gap: 30px;
    }
    .tovar__flex_items {
        max-width: 250px;
        max-height: 315px;
        margin: 0 0 25px 0;
    }
    .tovar__background {
        max-width: 250px;
        max-height: 140px;
    }
    .tovar_h3 {
        font-size: 20px;
        padding: 15px 5px 5px 5px;
    }
    .tovar__text_items{
        font-size: 15px;
        margin: 0;
    }
    .brand_h4 {
        font-size: 25px;
        font-weight: 200;
        line-height: 39px;
        margin: 0;
    }
    .brand_p {
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
    }
    .brand_inf-img {
        width: 90px;
        height: 90px;
    }
    .brand_inf-text{
        width: 220px;
        height: 270px;
        font-size: 14px;
    }
    .brand_flex-inf {
        gap: 30px;
    }
    .brand_inf-items{
        justify-content: center;
    }
    .brand_inf-items:nth-child(1){  
        height: 300px;
        margin: 0;
    }
    .brand_inf-items:nth-child(2){
       margin: 0;
       height: 300px;
    }
    .brand_inf-items:nth-child(3){
       margin: 0;
       height: 378px;
    }
    .brand_inf-items:nth-child(4){
        margin: 0;
        height: 300px;
    }
}
